<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Faculdade</title>
    </head>
    <body>

        <h2>Registrar<h2>
        <form action="/show" method="POST">
            <input type="text" placeholder="Name" name="name">
            <input type="text" placeholder="Email" name="email">
            <input type="text" placeholder="Curso" name="cource">
            <button type="submit">Submit</button>
        </form> 

    </body>
</html>